{{page-title this.model.agendaItem.title}}

<LayoutDetail>
  <div id="route-detail">
    <AuToolbar @size="medium" @skin="tint" @border="bottom" as |Group|>
      <Group>
        <ul class="au-c-list-horizontal au-c-list-horizontal--small">
          <li class="au-c-list-horizontal__item">
            <AuLink @route="agenda-items" @icon="arrow-left">
              Lijst
            </AuLink>
          </li>
          {{#if this.model.agendaItem.title}}
            <li class="au-c-list-horizontal__item">
              <span class="u-truncate">{{this.model.agendaItem.title}}</span>
            </li>
          {{/if}}
        </ul>
      </Group>
    </AuToolbar>
    <div class="au-o-box">
      <div class="au-o-grid au-o-grid--small">
        <div class="au-o-grid__item au-u-hidden-from@medium">
          {{#if this.wasHandled}}
            <AuAlert
              @skin="success"
              @icon="decided"
              @title="Dit werd behandeld"
              class="au-u-margin-bottom-none"
            />
          {{/if}}
        </div>
        <article
          id="detail-left-section"
          class="au-o-grid__item au-u-4-6@medium"
        >
          <AuCard class="u-color-top-border" as |c|>
            <c.header>
              <AuHeading @level="1" @skin="3">
                {{#if this.model.agendaItem.title}}
                  {{this.model.agendaItem.title}}
                {{/if}}
              </AuHeading>
            </c.header>
            <c.content class="content">
              <ul class="c-description-list">
                {{#if this.model.agendaItem.session.hasMunicipality}}
                  <li>
                    <AuIcon @size="large" @icon="location" />
                    <span class="au-u-hidden-visually">Gemeente:</span>
                    <AuLink
                      @route="agenda-items"
                      @query={{this.municipalityQuery}}
                    >
                      {{#if this.model.agendaItem.session.municipality}}
                        Gemeente
                        {{this.model.agendaItem.session.municipality}}
                      {{else}}
                        Geen Gemeente
                      {{/if}}
                    </AuLink>
                  </li>
                {{/if}}
                <li>
                  <AuIcon @size="large" @icon="calendar" />
                  <span class="au-u-hidden-visually">Planning:</span>
                  {{this.model.agendaItem.session.dateFormatted}}
                </li>
                {{#if this.model.agendaItem.alternateLink}}
                  <li>
                    <AuIcon @size="large" @icon="link" />
                    <span class="au-u-hidden-visually">Externe link</span>
                    <AuLinkExternal
                      href="{{this.model.agendaItem.alternateLink}}"
                    >
                      Bekijk agendapunt op de website van de gemeente
                    </AuLinkExternal>
                  </li>
                {{/if}}
              </ul>
              <AuContent @skin="small">
                <p class="au-u-muted">
                  {{#if this.model.agendaItem.description}}
                    {{this.model.agendaItem.description}}
                  {{else}}
                    We hebben geen beschrijving ontvangen voor dit agendapunt.
                  {{/if}}
                </p>
              </AuContent>

              <section class="c-accordion-holder">
                <AuBadge @icon="report" @skin="brand" />
                <AuAccordion
                  @reverse={{true}}
                  @iconOpen={{"nav-down"}}
                  @iconClosed={{"nav-right"}}
                  @buttonLabel={{"Besluit"}}
                >
                  {{#let
                    (get
                      this.model.agendaItem.handledBy.resolutions "firstObject"
                    )
                    as |resolution|
                  }}
                    {{#if resolution.value}}
                      <AuAlert @skin="success" @icon="sign" class="au-u-margin-top au-u-margin-bottom">
                        {{#if (is-pdf-url resolution.value)}}
                          <AuLinkExternal
                            href={{resolution.value}}
                            @skin="small"
                            @icon="pdf"
                          >
                            open besluit
                          </AuLinkExternal>
                        {{else}}
                          {{resolution.value}}
                        {{/if}}
                      </AuAlert>
                    {{else}}
                      <AuAlert
                        @skin="warning"
                        @title={{if
                          this.wasHandled
                          "Dit agendapunt werd nog niet behandeld"
                          "Besluit niet beschikbaar"
                        }}
                        class="au-u-margin-top au-u-margin-bottom"
                      />
                    {{/if}}
                    {{#if resolution.motivation}}
                      <div class="c-accordion-holder c-accordion-holder--top">
                        <AuAccordion
                          @reverse={{true}}
                          @iconOpen={{"nav-down"}}
                          @iconClosed={{"nav-right"}}
                          @buttonLabel={{"Motivering"}}
                        >
                          <AuContent @skin="small" class="au-u-padding">
                            <p class="au-u-muted">
                              {{resolution.motivation}}
                            </p>
                          </AuContent>
                        </AuAccordion>
                      </div>
                    {{/if}}
                  {{/let}}
                </AuAccordion>
              </section>

              {{#if this.hasArticles}}
              <section class="c-accordion-holder">
                <AuBadge @icon="book" @skin="brand" />
                <AuAccordion
                  @reverse={{true}}
                  @iconOpen={{"nav-down"}}
                  @iconClosed={{"nav-right"}}
                  @buttonLabel={{"Artikel"}}
                >
                  <AuAlert @skin="success" @icon="sign" class="au-u-margin-top au-u-margin-bottom">
                    {{#each this.model.articles as |article|}}
                      <section class="au-u-margin-bottom">
                        <h6>{{article.number}}</h6>
                        <p>{{article.value}}</p>
                      </section>
                    {{/each}}
                  </AuAlert>
                </AuAccordion>
              </section>
              {{/if}}

              <section class="c-accordion-holder">
                <AuBadge @icon="vote" @skin="brand" />
                <AuAccordion
                  @subtitle={{this.model.vote.subject}}
                  @reverse={{true}}
                  @iconOpen="nav-down"
                  @iconClosed="nav-right"
                  @buttonLabel="Stemming"
                >
                  {{#if this.model.vote}}
                    <VoteOverview @vote={{this.model.vote}} />
                  {{else}}
                    <AuAlert
                      @skin="warning"
                      @title={{if
                        this.wasHandled
                        "Stemming niet beschikbaar"
                        "Dit agendapunt werd nog niet behandeld"
                      }}
                      class="au-u-margin-top au-u-margin-bottom"
                    />
                  {{/if}}
                </AuAccordion>
              </section>
            </c.content>
          </AuCard>
          {{#if this.model.agendaItemOnSameSession}}
            <AuCard class="au-u-margin-top" as |c|>
              <c.header>
                <h2 class="au-u-h4 au-u-medium">
                  Volledige agenda van
                  {{this.model.agendaItem.session.dateFormatted}}
                </h2>
              </c.header>
              <c.content>
                {{#if this.model.agendaItemOnSameSession}}
                  <ol>
                    {{#each this.model.agendaItemOnSameSession as |agendaItem|}}
                      <li>
                        {{! if the agendaItem.id is equal to the current agendaItem then display "Huidige agendapunt" }}
                        {{#if (eq agendaItem.id this.model.agendaItem.id)}}
                          <p class="au-u-medium">Huidige agendapunt</p>
                        {{else}}
                          <AuLink
                            @route="agenda-items.agenda-item"
                            @model={{agendaItem.id}}
                          >
                            {{agendaItem.title}}
                          </AuLink>
                        {{/if}}
                      </li>
                    {{/each}}
                  </ol>
                {{/if}}
              </c.content>
              <c.footer>
                <AuLink
                  @skin="button"
                  @route="agenda-items.agenda-item.session"
                >
                  Volledige agenda
                </AuLink>
              </c.footer>
            </AuCard>
          {{/if}}
        </article>
        <aside class="au-o-grid__item au-u-2-6@medium">
          <div class="u-top-sticky">
            <div class="au-u-visible-from@medium">
              {{#if this.wasHandled}}
                <AuAlert
                  @skin="success"
                  @icon="decided"
                  @title="Dit werd behandeld"
                />
              {{/if}}
            </div>
            {{#if this.model.agendaItem.session.hasMunicipality}}
              <AuContent class="au-u-margin-top">
                <AuHeading @level="2" @skin="4">
                  {{#if this.keywordStore.keyword}}
                    Meer relevante info over
                    <AuLink
                      class="au-u-medium"
                    >{{this.keywordStore.keyword}}</AuLink>
                  {{else}}
                    Meer agendapunten
                  {{/if}}
                  in
                  <AuLink
                    @route="agenda-items"
                    @query={{this.municipalityQuery}}
                    class="au-u-medium"
                  >{{this.model.agendaItem.session.municipality}}</AuLink>
                </AuHeading>
                <ol type="1">
                  {{#each this.model.similiarAgendaItems as |agendaItem|}}
                    <li class="au-u-margin-top-small">
                      <AuLink
                        @model={{agendaItem.id}}
                        @route="agenda-items.agenda-item"
                      >
                        {{agendaItem.title}}
                      </AuLink>
                    </li>
                  {{/each}}
                </ol>
              </AuContent>
            {{/if}}
          </div>
        </aside>
      </div>
    </div>
  </div>
</LayoutDetail>
