<section 
  {{did-insert this.setupInViewport}}
  class="au-o-flow au-u-flex au-u-flex--column" >
  {{#each @model as |item|}}
    <DecisionCard
      @id={{item.id}}
      @title={{item.title}}
      @description={{item.description}}
      @startDate={{item.session.startedAt}}
      @endDate={{item.session.endedAt}}
    />
  {{/each}}
</section>

<AuLoader
  style="height: 40px; display: flex; justify-content: center; align-items: center; margin-bottom: 30px;"
  id="loader"
>Nieuwe Agendapunten aan het Laden</AuLoader>
