<section 
  {{did-insert this.setupInViewport}}
  class="au-o-flow au-u-flex au-u-flex--column" style="height: 100%;">
  {{#each @model as |item|}}
    <DecisionCard
      @id={{item.id}}
      @title={{item.title}}
      @description={{item.description}}
      @startDate={{item.session.startedAt}}
      @endDate={{item.session.endedAt}}
    />
  {{/each}}
</section>
<AuLoader
  style="height: 20vh; display: flex; justify-content: center; align-items: center;"
  id="loader"
>Nieuwe Agendapunten aan het Laden</AuLoader>
