<article class="c-agenda-iten-card">
  <AuHeading @level="2" @skin="5">
    <AuLink
      class="c-agenda-iten-card__link"
      @route="agenda-items.agenda-item"
      @model={{@id}}
    >
      {{@title}}
    </AuLink>
  </AuHeading>
  {{#if @description}}
    <p class="au-u-base c-agenda-iten-card__content">{{@description}}</p>
  {{/if}}
  <div class="c-agenda-iten-card__footer au-u-margin-top-tiny">
    {{@date}}
    -
    {{@governingBodyName}}
    -
    {{@municipality}}
  </div>
</article>