<article
  class="c-decision-card au-o-flow au-o-flow--small"
>
  <AuHeading @level="1" @skin="5">
    <AuLink
      class="c-decision-card__link"
      @route="detail"
      @model={{this.item.id}}
    >
      {{this.item.title}}
    </AuLink>
  </AuHeading>
  {{#if this.item.description}}
    <p class="au-u-base c-decision-card__content">{{this.item.description}}</p>
  {{/if}}
  <div class="c-decision-card__footer">
    {{#if this.dateRange}}
      {{this.dateRange}}
    {{else}}
      Geen Datum
    {{/if}}
    -
    {{#if this.item.session.governingBody.name}}
      {{this.item.session.governingBody.name}}
    {{else}}
      Geen Bestuurorgaan
    {{/if}}
    -
    {{#if this.item.session.governingBody.administrativeUnit.name}}
      {{this.item.session.governingBody.administrativeUnit.name}}
    {{else}}
      Geen Bestuurseenheid
    {{/if}}
  </div>
</article>
