<AuLink @route="detail" @model={{this.id}}>
  <AuCard
    @size="small"
    class="au-o-region-small card-hover au-o-layout--large"
    as |c|
  >
    <c.header>
      <AuHeading @level="1" @skin="3">
        <AuLink>
          {{this.title}}
        </AuLink>
      </AuHeading>
    </c.header>
    <c.content>
      <p>{{this.body}}</p>
    </c.content>
    <c.footer>
      {{this.startDate}}
      tot
      {{this.endDate}}
      -
      {{this.municipality}}
    </c.footer>
  </AuCard>
</AuLink>
