<article
  class="c-decision-card au-o-flow au-o-flow--small"
>
  <AuHeading @level="1" @skin="5">
    <AuLink
      class="c-decision-card__link"
      @route="detail"
      @model={{@item.id}}
    >
      {{@item.title}}
    </AuLink>
  </AuHeading>
  {{#if @item.description}}
    <p class="au-u-base c-decision-card__content">{{@item.description}}</p>
  {{/if}}
  <div class="c-decision-card__footer">
    {{@item.session.dateFormatted}}
    -
    {{#if @item.session.governingBody.name}}
      {{@item.session.governingBody.name}}
    {{else}}
      Geen Bestuurorgaan
    {{/if}}
    -
    {{#if @item.session.governingBody.administrativeUnit.name}}
      {{@item.session.governingBody.administrativeUnit.name}}
    {{else}}
      Geen Bestuurseenheid
    {{/if}}
  </div>
</article>
