<LinkTo @route="detail" @model={{this.title}}>
  <AuCard
    @size="small"
    class="card-hover au-u-padding-bottom au-u-padding"
    style="height: 25vh;"
    as |c|
  >

    <c.header>
      <AuHeading @level="1" @skin="3">
        <AuLink style="text-overflow: ellipsis; max-height: 50%;">
          {{this.title}}
        </AuLink>
      </AuHeading>
    </c.header>
    <c.content
      style="text-overflow: ellipsis;display: flex; word-wrap: break-word;  text-decoration: none;"
    >
      <p style="text-decoration: none; height: 100%;">{{#if this.description }}
          {{this.description}}
        {{/if}}</p>
    </c.content>
    <c.footer>
      {{#if this.dateRange}}
        {{this.dateRange}}
      {{/if}}
      
      {{#if this.municipality}}
        - {{this.municipality}}
      {{/if}}
    </c.footer>
  </AuCard>
</LinkTo>
