<LinkTo
  style="height: 30%; max-height: 30%;"
  @route="detail"
  @model={{this.title}}
>
  <AuCard
    @size="small"
    class="card-hover au-u-padding-bottom au-u-padding"
    style="height: 100%;"
    as |c|
  >

    <c.header>
      <AuHeading @level="1" @skin="3">
        <AuLink>
          {{this.title}}
        </AuLink>
      </AuHeading>
    </c.header>
    <c.content style="overflow: scroll;">
      <p style="max-lines: 3;">{{#if this.body}}
          {{this.body}}
        {{/if}}</p>
    </c.content>
    <c.footer>
      {{#if this.startDate}}
        {{this.startDate}}
      {{/if}}
      -
      {{#if this.municipality}}
        {{this.municipality}}
      {{/if}}
    </c.footer>
  </AuCard>
</LinkTo>
