<LinkTo
  style="text-decoration: none;"
  class="au-u-margin-bottom-small"
  @route="detail"
  @model={{this.item.id}}
>
  <AuCard
    @size="small"
    class="card-hover au-u-padding-bottom au-u-padding"
    style="height: 30vh;"
    as |c|
  >

    <c.header>
      <AuHeading @level="1" @skin="3">
        <AuLink style="text-overflow: ellipsis; max-height: 50%;">
          {{this.item.title}}
        </AuLink>
      </AuHeading>
    </c.header>
    <c.content>
      {{#if this.item.description}}
        <p class="truncate">{{this.item.description}}</p>
      {{/if}}
    </c.content>
    <c.footer>
      {{#if this.dateRange}}
        {{this.dateRange}}
      {{else}}
        Geen Datum
      {{/if}}
      -
      {{#if this.item.session.governingBody.name}}
        {{this.item.session.governingBody.name}}
      {{else}}
        Geen Bestuurorgaan
      {{/if}}
      -
      {{#if this.item.session.governingBody.administrativeUnit.name}}
        {{this.item.session.governingBody.administrativeUnit.name}}
      {{else}}
        Geen Bestuurseenheid
      {{/if}}
    </c.footer>
  </AuCard>
</LinkTo>
