<article
  class="c-decision-card"
>
  <AuHeading @level="2" @skin="5">
    <AuLink
      class="c-decision-card__link"
      @route="agenda-items.agenda-item"
      @model={{@item.id}}
    >
      {{@item.title}}
    </AuLink>
  </AuHeading>
  {{#if @item.description}}
    <p class="au-u-base c-decision-card__content">{{@item.description}}</p>
  {{/if}}
  <div class="c-decision-card__footer au-u-margin-top-tiny">
    {{@item.dateFormatted}}
    -
    {{@item.name}}
    -
    {{@item.municipality}}
  </div>
</article>