<LinkTo @route="detail" @model={{this.id}}>
  <AuCard
    @size="small"
    class="au-o-region-large card-hover au-u-padding-bottom au-u-padding"
    style="height: 100%;"
    as |c|
  >

    <c.header>
      <AuHeading @level="1" @skin="3">
        <AuLink>
          {{this.title}}
        </AuLink>
      </AuHeading>
    </c.header>
    <c.content>
      <p>{{#if this.body}}
          {{this.body}}
        {{/if}}</p>
    </c.content>
    <c.footer>
      {{#if this.startDate}}
        {{this.startDate}}
      {{/if}}
      tot
      {{#if this.endDate}}
        {{this.endDate}}
      {{/if}}
      -
      {{#if this.municipality}}
        {{this.municipality}}
      {{/if}}
    </c.footer>
  </AuCard>
</LinkTo>
