<div class="au-o-flow au-o-flow--small au-u-padding">
  <AuHeading @level="1" @skin="2">Wat zoek je?</AuHeading>
  <div class="au-u-flex au-u-flex--between au-u-1-1 au-u-flex--column@small">
    <Filters::TextFilter
      @id="keyword"
      @class="au-u-max-width-xsmall@small au-u-margin-bottom-small au-u-margin-bottom-none@medium"
      @queryParam="trefwoord"
      @value={{@keyword}}
      @placeholder="Zoek in alle lokale agendapunten"
      @buttonText="Zoeken"
      @icon="search"
      @rowClass="au-c-form-row--button"
    />
    <AuFormRow @alignment="inline" class="au-u-1-1 au-u-flex au-u-flex--end">
      <section
        class="au-u-flex au-u-1-2@large au-u-1-1 au-u-margin-left-small@small au-u-flex--end"
      >
        <AuLabel for="sort-on" class="au-u-hidden-visually" />
        <select
          id="sort-on"
          type="select"
          {{on "change" @handleDateSortChange}}
          class="au-c-input au-u-4-5@small au-u-1-1 au-u-max-width-xsmall@small"
        >
          <option
            value="desc"
            selected={{eq @filterService.filters.dateSort "desc"}}
          >Sorteer van nieuw naar oud</option>
          <option
            value="asc"
            selected={{eq @filterService.filters.dateSort "asc"}}
          >Sorteer van oud naar nieuw</option>
        </select>
      </section>
    </AuFormRow>
  </div>
  <a
    href="#filtersidebar"
    class="au-c-button au-c-button--secondary au-c-button--block c-interface__filter-button"
    {{on "click" @showFilter}}
  >
    <AuIcon @icon="filter" />
    Toon filters
  </a>
</div>