<div
  class="{{@class}} au-u-padding u-overflow-y-scroll"
  {{on "scroll" this.scroll}}
>
  <ul class="c-infinite-list">
    {{yield}}
  </ul>
  <div class="au-u-flex au-u-flex--center au-u-padding-top">
    {{#if @isLoading}}
      <AuLoader />
    {{else}}
      <AuButton @icon="add" @skin="secondary" @width="block" {{on "click" this.loadMore}}>Laad meer</AuButton>
    {{/if}}
  </div>
</div>
