<div
  class="{{@class}}"
  {{on "scroll" this.scroll}}
>
  <section class="au-c-entry-list">
    {{yield}}
  </section>
  <div class="au-u-flex au-u-flex--center au-u-padding-top">
    {{#if @isLoading}}
      <AuLoader />
    {{else}}
      <AuButton @icon="add" @skin="secondary" @width="block" {{on "click" this.loadMore}}>Laad meer</AuButton>
    {{/if}}
  </div>
</div>
