<div class="au-c-sidebar au-o-layout--large" style="width: 30%;">
  <div class="au-c-sidebar__content au-u-padding-large">
    <AuContent @skin="tiny">
      <h1>Ik zoek...</h1>
      <section>
        <AuFormRow
          @alignment="inline"
          class="au-u-padding-top-small au-u-padding-bottom-small"
        >

          <AuLabel for={{"municipality"}} style="width: 30%;">
            Gemeente
          </AuLabel>
          <PowerSelect
            style="width: 100%;"
            id="municipality"
            @onChange={{@municipalityOnChange}}
            @selected={{@valueMunicipality}}
            @options={{@municipalityOptions}}
            @allowClear={{@municipalityAllowClear}}
            @placeholder={{@municipalityPlaceholder}}
            @noMatchesMessage={{"Geen gemeente gevonden"}}
            @searchMessage="Aan het zoeken..."
            @searchEnabled={{true}}
            as |singleSelect|
          >
            {{singleSelect}}
          </PowerSelect>

        </AuFormRow>
        <AuFormRow
          class="au-u-padding-top-small au-u-padding-bottom-small"
          @alignment="inline"
        >
          <AuLabel for={{"keyword"}} style="width: 30%;">
            Trefwoord
          </AuLabel>
          <AuInput
            style="width: 100%;"
            placeholder={{@keywordPlaceholder}}
            id={{"keyword"}}
            onChange={{@keywordOnChange}}
            @value={{@valueKeyword}}
            @type={{"text"}}
          />
        </AuFormRow>
        <AuFormRow
          class="au-u-padding-top-small au-u-padding-bottom-small"
          @alignment="inline"
        >

          <AuLabel for={{"date"}} style="width: 30%;">
            Datum
          </AuLabel>
          <AuDateRangePicker
            id={{"date"}}
            @label="Optional label"
            @start={{@valueStartDate}}
            @end={{@valueEndDate}}
            @width="block"
            style="width: 100rem;"
            @cancelAction={{action @cancelDatePicker}}
            @applyAction={{action @applyDatePicker}}
            @hideAction={{action @hideDatePicker}}
          />
        </AuFormRow>
      </section>
    </AuContent>
  </div>
</div>
