<div class="au-c-sidebar au-o-layout--large" style="width: 30%;">
  <div class="au-c-sidebar__content au-u-padding-large">
    <AuContent @skin="tiny">
      <h1>Ik zoek...</h1>
      <section>
        <AuFormRow
          @alignment="inline"
          class="au-u-padding-top-small au-u-padding-bottom-small"
        >

          <AuLabel for={{"municipality"}} style="width: 30%;">
            Gemeente
          </AuLabel>
          <PowerSelect
            style="width: 100%;"
            id="municipality"
            @placeholder={{this.municipalityPlaceholder}}
            @selected={{this.municipalitySelected}}
            @onChange={{this.municipalityOnChange}}
            @options={{this.municipalityOptions}}
            @allowClear={{this.municipalityAllowClear}}
            @noMatchesMessage={{"Geen gemeente gevonden"}}
            @searchMessage="Aan het zoeken..."
            @searchEnabled={{true}}
            as |singleSelect|
          >
            {{singleSelect}}
          </PowerSelect>
        </AuFormRow>
        <AuFormRow
          class="au-u-padding-top-small au-u-padding-bottom-small"
          @alignment="inline"
        >
          <AuLabel for={{"keyword"}} style="width: 30%;">
            Trefwoord
          </AuLabel>
          <AuInput
            style="width: 100%;"
            placeholder={{this.keywordPlaceholder}}
            id={{"keyword"}}
            onChange={{this.handleKeywordChange}}
            @type={{"text"}}
          />
        </AuFormRow>
        <AuFormRow
          class="au-u-padding-top-small au-u-padding-bottom-small"
          @alignment="inline"
        >

          <AuLabel for={{"date"}} style="width: 30%;">
            Datum
          </AuLabel>
          <AuInput
            id={{"date"}}
            style="width: 100%;"
            onChange={{this.dateHandleChange}}
            @type={{"date"}}
            {{!-- @value={{this.startDate}} --}}
          />
        </AuFormRow>
      </section>
    </AuContent>
  </div>
</div>
