<div class="au-c-sidebar au-o-layout--large" style="width: 30%;">
  <div class="au-c-sidebar__content au-u-padding">
    <AuContent @skin="tiny">
      <h3>Verfijn de zoekresultaten</h3>
      <section>
        <AuFormRow
          @alignment="inline"
          style="width: 100%;"
          class="au-u-padding-top-small au-u-padding-bottom-small"
        >

          <AuLabel for={{"municipality"}} style="width: 30%;max-width: 30%;">
            Gemeente
          </AuLabel>
          <section
            style="width: 70%;max-width: 70%; gap: 8px 0;"
            class="au-u-flex au-u-flex--column"
          >

            <PowerSelect
              style="width: 100%;"
              id="municipality"
              @onChange={{@municipalityOnChange}}
              @selected={{@valueMunicipality}}
              @options={{@municipalityOptions}}
              @allowClear={{@municipalityAllowClear}}
              @searchField="label"
              @placeholder={{@municipalityPlaceholder}}
              @noMatchesMessage={{"Geen gemeente gevonden"}}
              @searchMessage="Aan het zoeken..."
              @searchEnabled={{true}}
              as |singleSelect|
            >
              {{singleSelect.label}}
            </PowerSelect>
            <AuPill
              style="width: 100%; display: inline-block;"
              @icon="info-circle"
              @iconAlignment="left"
            >
              {{#if @valueMunicipality.label}}
                Resultaten voor
                <AuLink
                  @route="municipality"
                  @model={{@valueMunicipality.label}}
                >
                  {{@valueMunicipality.label}}
                </AuLink>
              {{else}}
                Filter op gemeente
              {{/if}}
            </AuPill>
          </section>

        </AuFormRow>
        <AuFormRow
          class="au-u-padding-top-small au-u-padding-bottom-small"
          @alignment="inline"
        >
          <AuLabel for={{"keyword"}} style="width: 30%;max-width: 30%;">
            Trefwoord
          </AuLabel>
          <section
            style="width: 70%;max-width: 70%; gap: 8px 0;"
            class="au-u-flex au-u-flex--column"
          >

            <AuInput
              style="width: 100%;"
              placeholder={{@keywordPlaceholder}}
              id={{"keyword"}}
              onChange={{@keywordOnChange}}
              @value={{@valueKeyword}}
              @type={{"text"}}
            />
            <AuPill
              style="width: 100%; display: inline-block;"
              @icon="info-circle"
              @iconAlignment="left"
            >
              Zoek op trefwoord
            </AuPill>
          </section>
        </AuFormRow>
        <AuFormRow
          class="au-u-padding-top-small au-u-padding-bottom-small"
          @alignment="inline"
        >

          <AuLabel for={{"date"}} style="width: 30%;max-width: 30%;">
            Datum
          </AuLabel>
          <section
            class="au-u-flex au-u-flex--column"
            style="width: 70%;max-width: 70%; gap: 8px 0;"
          >

            <AuDateRangePicker
              id={{"date"}}
              @label="Optional label"
              @start={{@valueStartDate}}
              @end={{@valueEndDate}}
              @width="block"
              style="width: 70%; max-width: 70%;"
              @cancelAction={{action @cancelDatePicker}}
              @applyAction={{action @applyDatePicker}}
              @hideAction={{action @hideDatePicker}}
            />
            <AuPill
              style="width: 100%; display: inline-block;"
              @icon="info-circle"
              @iconAlignment="left"
            >
              Zoek op datum
            </AuPill>
          </section>
        </AuFormRow>
      </section>
    </AuContent>
  </div>
</div>
