<p
  class="au-u-h6 au-u-flex au-u-flex--spaced-tiny au-u-flex--vertical-center au-u-margin-top"
>
  {{#if @vote.secret}}
    <AuIcon @icon="remove" @size="medium" />
    Geheime stemming
  {{else}}
    <AuIcon @icon="visible" @size="medium" />
    Openbare stemming
  {{/if}}
</p>

{{! We use a style tag here since it's way simpler than the JS equivalent which provides no other benefits other than
not triggering the linting error}}
<style {{!template-lint-disable no-forbidden-elements}}>
  .c-pie { --value-abstentions:
  {{this.numberOfAbstentionsGraphValue}}; --value-opponents:
  {{this.numberOfOpponentsGraphValue}}; --value-proponents:
  {{this.numberOfProponentsGraphValue}}; }
</style>

{{#if this.totalVoters}}

  <div class="c-chart">
    <svg
      viewBox="0 0 100 100"
      class="c-chart__pie"
      aria-hidden="true"
      focusable="false"
    >
      <circle r="25" cx="50" cy="50" class="c-pie c-pie--proponents" />
      <circle r="25" cx="50" cy="50" class="c-pie c-pie--opponents" />
      <circle r="25" cx="50" cy="50" class="c-pie c-pie--abstentions" />
    </svg>
    <ul class="c-chart__legend">
      <li class="c-chart__legend-item c-chart__legend-item--proponents">Voor ({{this.numberOfProponents}})</li>
      <li class="c-chart__legend-item c-chart__legend-item--opponents">Tegen ({{this.numberOfOpponents}})</li>
      <li
        class="c-chart__legend-item c-chart__legend-item--abstentions"
      >Onthouden ({{this.numberOfAbstentions}})</li>
    </ul>
  </div>
{{/if}}

{{#if @vote.consequence}}
  <div class="c-accordion-holder c-accordion-holder--top">
    <AuAccordion
      @reverse={{true}}
      @iconOpen="nav-down"
      @iconClosed="nav-right"
      @buttonLabel="Gevolg van de stemming"
    >
      <AuContent @skin="small" class="au-u-padding">
        <p class="au-u-muted">
          {{@vote.consequence}}
        </p>
      </AuContent>
    </AuAccordion>
  </div>
{{/if}}
{{#if this.hasVotersData}}
  <div class="c-accordion-holder c-accordion-holder--top">
    <AuAccordion
      @reverse={{true}}
      @iconOpen="nav-down"
      @iconClosed="nav-right"
      @buttonLabel="Wie stemde?"
      @subtitle="Meer informatie over stemmers en hun partijen"
    >
      <div class="c-responsive-tables">
        <AuTable>
          <:header>
            <tr>
              <th class="c-vote-table-proponent au-u-medium">Voorstanders</th>
            </tr>
          </:header>
          <:body>
            {{#each this.proponents as |mandatary|}}
              {{#if mandatary.alias.familyName}}
                <tr>
                  <td>
                    <VoteTableEntry
                      @familyName={{mandatary.alias.familyName}}
                      @firstName={{mandatary.alias.firstNameUsed}}
                      @fraction={{mandatary.hasMembership.innerGroup.name}}
                    />
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          </:body>
        </AuTable>
        <AuTable>
          <:header>
            <tr>
              <th class="c-vote-table-opponent au-u-medium">Tegenstanders</th>
            </tr>
          </:header>
          <:body>
            {{#each this.opponents as |mandatary|}}
              {{#if mandatary.alias.familyName}}
                <tr>
                  <td>
                    <VoteTableEntry
                      @familyName={{mandatary.alias.familyName}}
                      @firstName={{mandatary.alias.firstNameUsed}}
                      @fraction={{mandatary.hasMembership.innerGroup.name}}
                    />
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          </:body>
        </AuTable>
        <AuTable>
          <:header>
            <tr>
              <th class="c-vote-table-abstention au-u-medium">Onthouders</th>
            </tr>
          </:header>
          <:body>
            {{#each this.abstainers as |mandatary|}}
              {{#if mandatary.alias.familyName}}
                <tr>
                  <td>
                    <VoteTableEntry
                      @familyName={{mandatary.alias.familyName}}
                      @firstName={{mandatary.alias.firstNameUsed}}
                      @fraction={{mandatary.hasMembership.innerGroup.name}}
                    />
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          </:body>
        </AuTable>
      </div>
    </AuAccordion>
  </div>
{{/if}}
