<div class="c-chart">
  <style>
    .c-pie {
      --value-abstentions: {{this.numberOfAbstentionsGraphValue}};
      --value-opponents: {{this.numberOfOpponentsGraphValue}};
      --value-proponents: {{this.numberOfProponentsGraphValue}};
    }
  </style>
  <svg viewBox="0 0 100 100" class="c-chart__pie">
    <circle r="25" cx="50" cy="50" class="c-pie c-pie--proponents"/>
    <circle r="25" cx="50" cy="50" class="c-pie c-pie--opponents"/>
    <circle r="25" cx="50" cy="50" class="c-pie c-pie--abstentions"/>
  </svg>
  <ul class="c-chart__legend">
    <li class="c-chart__legend-item c-chart__legend-item--proponents">Voor ({{this.numberOfProponents}})</li>
    <li class="c-chart__legend-item c-chart__legend-item--opponents">Tegen ({{this.numberOfOpponents}})</li>
    <li class="c-chart__legend-item c-chart__legend-item--abstentions">Onthouden ({{this.numberOfAbstentions}})</li>
  </ul>
</div>