<article id="summary">
  {{#each this.mappedGovernmentInfo as |gov|}}
    <div
      class="au-u-background-gray-100 au-u-padding-small au-u-margin-bottom-small"
    >
      <AuPill
        class="au-u-margin-top-small au-u-margin-bottom-tiny"
        @skin="ongoing"
      >{{gov.label}}</AuPill>

      {{#if gov.didFindInfoAboutGov}}
        <div class="au-u-margin-top-small">
          <p class="au-u-medium">Voorwaarden</p>
          <ul>
            {{#each gov.conditions as |condition|}}
              {{#if condition}}
                <li>{{condition}}</li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
        <div class="au-u-margin-top">
          <p class="au-u-medium">Bewijsstukken</p>
          <ul>
            {{#each gov.requiredProof as |proof|}}
              {{#if proof.evidenceDescription}}
                <li>{{proof.evidenceDescription}}</li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
        <p class="au-u-margin-top">De
          <strong>kostprijs</strong>
          is
          <strong>0 EUR</strong>.</p>
        <br />
        <p>Deze informatie komt uit:</p>
        <ul>
          {{#each gov.zones as |zone|}}
            {{#if zone.publicationLinks}}
              <li>
                <AuLinkExternal
                  href={{zone.publicationLinks}}
                >{{zone.name}}</AuLinkExternal>
              </li>

            {{/if}}
          {{/each}}
        </ul>
      {{else}}
        <p class="au-u-padding-top-small">Voor deze gemeente hebben we geen
          informatie gevonden.</p>
        <p><AuLinkExternal href="https://lokaalbeslist.vlaanderen.be">Contacteer
            de gemeente</AuLinkExternal>
          voor meer informatie.</p>
      {{/if}}
    </div>
  {{/each}}
  <div
    class="au-u-background-gray-100 au-u-padding-small au-u-margin-bottom au-u-flex au-u-flex--between au-u-h4 au-u-medium"
  >
    <p>Totale kostprijs</p>
    <p>EUR {{this.totalCost}}</p>
  </div>
  <AuButton
    class="au-u-margin-top"
    @skin="link"
    @icon="chevron-left"
    @iconAlignment="left"
    {{on "click" @resetForm}}
  >
    Zoek opnieuw
  </AuButton>
</article>