<article id="summary">
  {{#each @selectedGovernment as |gov|}}
    <div
      class="au-u-background-gray-100 au-u-padding-small au-u-margin-bottom-small"
    >
      <AuPill
        class="au-u-margin-top-small au-u-margin-bottom-tiny"
        @skin="ongoing"
      >{{gov.label}}</AuPill>
      <div class="au-u-margin-top-small">
        <p class="au-u-medium">Voorwaarden</p>
        <ul>
          {{#each this.conditions as |condition|}}
            <li>{{condition}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="au-u-margin-top">
        <p class="au-u-medium">Bewijsstukken</p>
        <ul>
          {{#each this.requiredProof as |proof|}}
            <li>{{proof}}</li>
          {{/each}}
        </ul>
      </div>
      <p class="au-u-margin-top">De
        <strong>kostprijs</strong>
        is
        <strong>150 EUR</strong>.</p>
      <br />
      <p>Deze informatie komt uit:</p>
      <ul>
        <li><AuLinkExternal href="https://lokaalbeslist.vlaanderen.be">Besluit
            van de gemeente
            {{gov.label}}</AuLinkExternal></li>
        <li>[lorem ipsum]</li>
      </ul>
    </div>
  {{/each}}
  <div
    class="au-u-background-gray-100 au-u-padding-small au-u-margin-bottom au-u-flex au-u-flex--between au-u-h4 au-u-medium"
  >
    <p>Totale kostprijs</p>
    <p>EUR {{this.totalCost}}</p>
  </div>
  <AuButton
    class="au-u-margin-top"
    @skin="link"
    @icon="chevron-left"
    @iconAlignment="left"
    {{on "click" @resetForm}}
  >
    Zoek opnieuw
  </AuButton>
</article>