<FilterSidebar::Filter @id={{@id}} @label={{@label}}>
    <AuDateRangePicker
      @width="block"

      id={{@id}}
      @label={{@label}}
      
      @start={{this.start}}
      @end={{this.end}}
      
      @cancelAction={{action this.resetDate}}
      @applyAction={{action this.dateChange}}
      @hideAction={{action this.hideDate}}

      @cancelLabel="Reset"
    />
    {{!-- did-insert didn't work on the custom components --}}
    <span {{did-insert this.hideDate}}></span>

</FilterSidebar::Filter> 
