<div class="au-u-margin-top recap_box au-u-1-5">
  {{#if @selectedEntityType.label}}
    <div>
      <label class="au-u-medium">Je rijdt als</label>
      <br />
      <AuButton
        @skin="link"
        class="au-u-padding-none"
        @disabled={{@isFormSubmitted}}
        {{on "click" (fn @setStep 0)}}
      >
        {{@selectedEntityType.label}}
      </AuButton>
    </div>
  {{/if}}
  {{#if @selectedTravelReason.label}}
    <hr />
    <div>
      <label class="au-u-medium">Reden</label>
      <br />
      <AuButton
        @skin="link"
        class="au-u-padding-none"
        @disabled={{@isFormSubmitted}}
        {{on "click" (fn @setStep 1)}}
      >
        {{@selectedTravelReason.label}}
      </AuButton>
    </div>
  {{/if}}
  {{#if @selectedGovernment}}
    <hr />
    <div>
      <label class="au-u-medium">Gekozen gemeente</label>
      <br />
      {{#each @selectedGovernment as |gov|}}
        <div>
          {{#if (eq @step 3)}}
            <AuButton
              @skin="link"
              class="au-u-padding-none"
              @disabled={{@isFormSubmitted}}
              {{on "click" (fn @goToMunicipality gov.label)}}
            >
              {{gov.label}}<br />
            </AuButton>
          {{else}}
            <AuButton
              @skin="link"
              class="au-u-padding-none"
              @disabled={{@isFormSubmitted}}
              {{on "click" (fn @setStep 2)}}
            >
              {{gov.label}}<br />
            </AuButton>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/if}}
  {{#if @selectedAreas.length}}
    <hr />
    <div>
      <label class="au-u-medium">Zones</label>
      <br />
      {{#each @selectedAreas as |area|}}
        <div>
          {{#if (eq @step 3)}}
            <AuButton
              @skin="link"
              class="au-u-padding-none"
              @disabled={{@isFormSubmitted}}
              {{on "click" (fn @goToArea area)}}
            >
              {{area.name}}<br />
            </AuButton>
          {{else}}
            <AuButton
              @skin="link"
              class="au-u-padding-none"
              @disabled={{@isFormSubmitted}}
              {{on "click" (fn @setStep 3)}}
            >
              {{area.name}}<br />
            </AuButton>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/if}}

</div>