<div class="step-indicator">
  {{#each (range 0 (inc @totalSteps)) as |i|}}
    <div class="tooltip-wrapper">
      <AuButton
        class="step-dot {{if (lte i @currentStep) 'active'}}"
        aria-label="Stap {{add i 1}}"
        @skin="link"
        {{on "click" (fn @setStep i)}}
        @disabled={{gt i @currentStep}}
      />
      <EmberTooltip @text={{@getTooltipText i}} @side="top" />
    </div>
  {{/each}}
</div>