<LayoutList>
  <AuBodyContainer>
    <div class="c-interface">
      <div id="filtercontent" class="c-interface__content c-interface__content--fixed au-u-flex au-u-flex--column">
        <div class="au-o-flow au-o-flow--small au-u-padding">
          <AuHeading @level="1" @skin="2">Wat zoek je?</AuHeading>
          <Filters::TextFilter
            @id="keyword"
            @queryParam="trefwoord"
            @value={{this.keyword}}

            @label="Zoeken"
            @labelHidden={{true}}

            @placeholder="Zoek in alle lokale agendas en besluiten"
            @buttonText="Zoeken"

            @icon="search"

            @rowClass="au-c-form-row--button"
          />
          <a href="#filtersidebar" class="au-c-interface__filter-link">
            Ga naar filters
          </a>
          <a href="#filtersidebar" class="au-c-button au-c-button--secondary au-c-button--block c-interface__filter-button" {{on "click" this.showFilter}}>
            <AuIcon @icon="filter" />
              Toon filters
          </a>
        </div>
        {{#let (this.AgendaItemsLoader filters=this.filters) as |loader|}}
          {{#if loader.hasErrored}}
            <Oops @title="Oeps!" @content="Er is iets fout gelopen!" />
          {{else}}
            {{#if (and loader.isLoading (not loader.hasResults))}}
              <LoaderFullPage @content="Agendapunten aan het laden" />
            {{else}}
              {{#if loader.hasResults}}
                {{#if loader.total}}
                  <p
                    class="au-u-margin-left au-u-margin-top-small au-u-h4 au-u-medium"
                  >
                    {{loader.total}}
                    {{#if (eq loader.total 1)}}
                      Zoekresultaat
                    {{else}}
                      Zoekresultaten
                    {{/if}}
                  </p>
                {{/if}}

                <InfiniteList
                  @loadMore={{loader.loadMore}}
                  @isLoading={{loader.isLoading}}
                  @itemsShown={{loader.data.length}}
                  @itemsAmount={{loader.total}}
                >
                  {{#each loader.data as |item|}}
                    <li>
                      <DecisionCard
                        @startDate={{item.session.startedAt}}
                        @endDate={{item.session.endedAt}}
                        @item={{item}}
                      />
                    </li>
                  {{/each}}
                </InfiniteList>
              {{else}}
                <div class="au-o-box">
                  <AuAlert
                    @size="small"
                    @skin="warning"
                    @icon="info-circle"
                    @title="Er werden geen zoekresultaten gevonden."
                  />
                </div>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/let}}
      </div>
      <FilterSidebar
        @id="filtersidebar"
        @class="c-interface__sidebar c-interface__sidebar--dialog {{if this.hasFilter 'is-visible'}}"
        {{focus-trap
          isActive=this.hasFilter
          shouldSelfFocus=true
          focusTrapOptions=(hash
            onDeactivate=this.hideFilter
          )
        }}
      >
        <div class="c-interface__sidebar-close-button">
          <a href="#filtercontent" class="au-c-button au-c-button--naked" {{on "click" this.hideFilter}}>
            Terug
          </a>
        </div>
        <div class="c-interface__sidebar-main">
          <h3 class="au-u-h4 au-u-medium">Verfijn de zoekresultaten</h3>
          <Filters::SelectMultipleFilter
            @id="municipality"
            @label="Waar woon je?"
            @options={{this.municipalities}}
            @searchField="label"
            @queryParam="gemeentes"
            @placeholder="Selecteer een optie"
            @value={{this.municipality}}
          />
          <Filters::DateRangeFilter
            @startQueryParam="begin"
            @endQueryParam="eind"
            @start={{this.plannedStartMin}}
            @end={{this.plannedStartMax}}
          />
        </div>
        <div class="c-interface__sidebar-submit-buttons">
          <AuButton @skin="primary" @width="block" {{on "click" this.hideFilter}}>
            Zoeken
          </AuButton>
          <a href="#filtercontent" class="au-c-button au-c-button--naked au-c-button--block" {{on "click" this.hideFilter}}>
            Annuleer
          </a>
        </div>
      </FilterSidebar>
    </div>
  </AuBodyContainer>
</LayoutList>