<Filters::Filter @label={{@label}}>
    <AuDateRangePicker
      @width="block"

      id={{@id}}
      @label={{@label}}
      
      @start={{this.start}}
      @end={{this.end}}
      
      @cancelAction={{this.resetDate}}
      @applyAction={{this.dateChange}}
      @hideAction={{this.hideDate}}

      @cancelLabel="Reset"
    />
    {{!-- did-insert didn't work on the custom components --}}
    <span class="no-display" {{did-insert this.hideDate}}></span>

</Filters::Filter>
