{{page-title "Zittingen"}}

<div class="au-u-flex" style="overflow-y: scroll; width: 100%; height: 100%;" {{!template-lint-disable no-inline-styles}}>

  <FilterSidebar @class="au-u-2-5">
    <Filters::SelectMultipleFilter
      @id="municipality"
      @label="Gemeente"
      @options={{this.municipalities}}
      @searchField="label"
      @queryParam="gemeentes"
      @placeholder="Selecteer een optie"
      @value={{this.municipality}}
    />
    <Filters::DateRangeFilter
      @id="startDate"
      @label="Datum"
      @queryParamsA="begin"
      @queryParamsB="eind"
      @valueA={{this.plannedStartMin}}
      @valueB={{this.plannedStartMax}}
    />

  </FilterSidebar>
  <section
    class="au-u-flex au-u-flex--column au-u-padding-top-large"
    {{!template-lint-disable no-inline-styles}}
    style="width: 100%; height: 100%;"
  >
    {{#if this.isEmpty}}
      <AuAlert
        class="au-u-medium au-u-margin"
        {{!template-lint-disable no-inline-styles}}
        style=" position: sticky; top: 0;"
        @skin="warning"
        @icon="three-dots"
      >
        Geen zittingen gevonden
      </AuAlert>
    {{else}}
      <InfiniteList
        @class="au-u-padding-left-large au-u-padding-right-large"
        @loadMore={{this.loadMore}}
        @isLoading={{this.isLoadingMore}}
      >
        {{#each @model.sessions as |session|}}
          <LinkTo
            @route="sessions.session"
            class="au-u-margin-bottom-small"
            @model={{session.id}}
          >
            <AuCard @size="small" class="card-hover au-u-padding" as |c|>
              <c.header>
                <AuHeading @level="1" @skin="3">
                  <AuLink @route="sessions.session" @model={{session.id}}>
                    {{session.name}}
                    {{session.dateRange}}
                  </AuLink>
                </AuHeading>
              </c.header>
              <c.footer>
                {{session.municipality}}
                -
                {{session.agendaItemCount}}
              </c.footer>
            </AuCard>
          </LinkTo>
        {{/each}}
      </InfiniteList>
    {{/if}}
  </section>
</div>
