{{page-title "Zitting"}}

<LayoutList>
  <AuBodyContainer @scroll={{true}} id="route-session" class="au-o-region-large">
    <div class="au-o-layout">
      <AuHeading @level="1" class="au-u-margin-bottom">
        {{this.model.name}}
        {{this.model.dateFormatted}}
      </AuHeading>
      <ul class="c-infinite-list">
        {{#each this.agendaItemsSorted as |item|}}
          <li>
            <article class="c-agenda-item-card">
              <AuHeading @level="1" @skin="5">
                <AuLink 
                  class="c-agenda-item-card__link"
                  @route="agenda-items.agenda-item"
                  @model={{ item.id }}
                >
                  {{ item.title }}
                </AuLink>
              </AuHeading>
              <p class="c-agenda-item-card__content">{{item.description}}</p>
            </article>
          </li>
        {{/each}}
      </ul>
    </div>
  </AuBodyContainer>
</LayoutList>