{{page-title "Zitting"}}

<div id="route-session" class="overflow-y-scroll au-u-flex">
  <section class="au-o-box">
    <AuHeading @level="1">
      {{this.model.name}}
      {{this.model.dateRange}}
    </AuHeading>
  </section>
  <section
    class="au-u-1-1 au-u-flex au-u-flex--column"
  >
    {{#each this.agendaItemsSorted as |item|}}
      <LinkTo class="no-text-decoration" @route="detail" @model={{item.id}}>
        <AuCard @size="small" class="card-hover au-u-padding" as |c|>
          <c.header>
            <AuHeading @level="1" @skin="3">
              <AuLink 
                class="header-link"
                @route="detail"
                @model={{ item.id }}
              >
                {{ item.title }}
              </AuLink>
            </AuHeading>
          </c.header>
          <c.content>
            <p class="truncate">{{item.description}}</p>
          </c.content>
        </AuCard>
      </LinkTo>
    {{/each}}
  </section>
</div>
