{{page-title "Zitting"}}

<AuBodyContainer @scroll={{true}} id="route-session" class="au-o-region-large">
  <div class="au-o-layout">
    <section class="au-u-margin-bottom">
      <AuHeading @level="1">
        {{this.model.name}}
        {{this.model.dateFormatted}}
      </AuHeading>
    </section>
    <section
      class="au-c-entry-list"
    >
      {{#each this.agendaItemsSorted as |item|}}
        <article class="c-decision-card">
          <AuHeading @level="1" @skin="5">
            <AuLink 
              class="c-decision-card__link"
              @route="detail"
              @model={{ item.id }}
            >
              {{ item.title }}
            </AuLink>
          </AuHeading>
          <p class="c-decision-card__content">{{item.description}}</p>
        </article>
      {{/each}}
    </section>
  </div>
</AuBodyContainer>