{{page-title "Zitting"}}

<div class="au-u-flex" style="overflow-y: scroll;">
  <section class="au-o-box">
    <AuHeading @level="1" >
        {{this.model.name}} {{this.model.dateRange}}
    </AuHeading>
  </section>
  <section style="height: fit-content; width: 100%;" class="au-u-flex au-u-flex--column">
    {{#each this.agendaItemsSorted as |item|}}
      <LinkTo 
        style="text-decoration: none;" 
        @route="detail"
        @model={{ item.id }} 
        >
        <AuCard @size="small" class="card-hover au-u-padding" as |c|>
          <c.header>
            <AuHeading @level="1" @skin="3">
              <AuLink style="text-overflow: ellipsis; max-height: 50%;">
                {{ item.title }}
              </AuLink>
            </AuHeading>
          </c.header>
          <c.content>
            <p class="truncate">{{ item.description }}</p>
          </c.content>
        </AuCard>
      </LinkTo>
    {{/each}}
  </section>
</div>