<div id="route-agenda-items" class="au-u-flex">
  <SearchSidebar
    @municipalityPlaceholder="Selecteer een optie"
    @municipalityOnChange={{this.handleMunicipalityChange}}
    @municipalityOptions={{this.municipalities}}
    @municipalityAllowClear={{true}}
    @keywordPlaceholder={{"Terrasvergunning"}}
    @keywordOnChange={{this.handleKeywordChange}}
    @applyDatePicker={{this.applyDatePicker}}
    @cancelDatePicker={{this.cancelDatePicker}}
    @hideDatePicker={{this.hideDatePicker}}
    @valueMunicipality={{this.selectedMunicipality}}
    @valueKeyword={{this.keyword}}
    @valueStartDate={{this.plannedStartMin}}
    @valueEndDate={{this.plannedStartMax}}
  />

  <section
    id="results"
    class="au-u-flex au-u-flex--column"
  >
    <div
      class="au-u-flex au-u-flex--column"
    >
      {{#if this.errorMsg}}
        <AuContent
          class="content error"
        >
          <section>
            <h3>Oeps!</h3>
            <p>Er is iets fout gelopen!</p>
            <AuLink @skin="button" @route="home">Terug naar de startpagina</AuLink>
          </section>
        </AuContent>
      {{else}}
        {{#if this.loading}}
          <main class="content no-error">
            <AuLoader />
            <AuContent>
              <h3>Agendapunt aan het laden</h3>
            </AuContent>
          </main>

        {{else}}
          {{! if @model.agendaItems length is equal to 0 }}
          {{#if (eq @model.agendaItems.length 0)}}
            <AuAlert
              class="no-results au-u-medium au-u-margin"
              @skin="warning"
              @icon="three-dots"
            >
              Geen agendapunten gevonden
            </AuAlert>
          {{else}}
            <InfiniteList
              @loadMore={{action "loadMore"}}
              @isLoading={{this.isLoadingMore}}
            >
              {{#each @model.agendaItems as |item|}}
                <DecisionCard
                  @startDate={{item.session.startedAt}}
                  @endDate={{item.session.endedAt}}
                  @item={{item}}
                />
              {{/each}}
            </InfiniteList>
          {{/if}}
        {{/if}}
      {{/if}}

    </div>
  </section>
</div>
