<AuBodyContainer class="au-u-flex--row">

  <FilterSidebar @class="au-u-2-5 au-u-max-width-xsmall">
    <FilterSidebar::SelectFilter
      @id="municipality"
      @label="Gemeente"
      @options={{this.municipalities}}
      @searchField="label"
      @queryParam="gemeentes"
      @placeholder="Selecteer een optie"
      @value={{this.municipality}}
    />
    <FilterSidebar::TextFilter
      @id="keyword"
      @label="Trefwoord"
      @placeholder="Terrasvergunning"
      @queryParam="trefwoord"
      @value={{this.keyword}}
    />
    <FilterSidebar::DateRangeFilter
      @id="startDate"
      @label="Datum"
      @queryParamsA="begin"
      @queryParamsB="eind"
      @valueA={{this.plannedStartMin}}
      @valueB={{this.plannedStartMax}}
    />

  </FilterSidebar>

  <section
    id="results"
    class="au-u-flex au-u-flex--column au-u-3-5"
  >
    {{#if this.errorMsg}}
      <Oops
        @title="Oeps!"
        @content="Er is iets fout gelopen!" 
      />
    {{else}}
      {{#if this.loading}}
        <Loader @content="Agendapunt aan het laden"/>

      {{else}}
        {{! if @model.agendaItems length is equal to 0 }}
        {{#if (eq @model.agendaItems.length 0)}}
          <AuAlert
            class="no-results au-u-medium au-u-margin"
            @skin="warning"
            @icon="three-dots"
          >
            Geen agendapunten gevonden
          </AuAlert>
        {{else}}
          <InfiniteList
            @loadMore={{action "loadMore"}}
            @isLoading={{this.isLoadingMore}}
          >
            {{#each @model.agendaItems as |item|}}
              <DecisionCard
                @startDate={{item.session.startedAt}}
                @endDate={{item.session.endedAt}}
                @item={{item}}
              />
            {{/each}}
          </InfiniteList>
        {{/if}}
      {{/if}}
    {{/if}}

  </section>
</AuBodyContainer>
