<div class="au-u-flex" style="height: 100%; width: 100%;">

  <FilterSidebar @class="au-u-2-5">
    <FilterSidebar::SelectFilter
      @id="municipality"
      @label="Gemeente"
      @options={{this.municipalities}}
      @searchField="label"
      @queryParam="gemeentes"
      @placeholder="Selecteer een optie"
      @value={{this.municipality}}
    />
    <FilterSidebar::TextFilter
      @id="keyword"
      @label="Trefwoord"
      @placeholder="Terrasvergunning"
      @queryParam="trefwoord"
      @value={{this.keyword}}
    />
    <FilterSidebar::DateRangeFilter
      @id="startDate"
      @label="Datum"
      @queryParamsA="begin"
      @queryParamsB="eind"
      @valueA={{this.plannedStartMin}}
      @valueB={{this.plannedStartMax}}
    />

  </FilterSidebar>

  <section
    id="results"
    class="au-u-flex au-u-flex--column"
  >
    <div
      class="au-u-flex au-u-flex--column"
    >
      {{#if this.errorMsg}}
        <AuContent
          class="content error"
        >
          <section>
            <h3>Oeps!</h3>
            <p>Er is iets fout gelopen!</p>
            <AuLink @skin="button" @route="home">Terug naar de startpagina</AuLink>
          </section>
        </AuContent>
      {{else}}
        {{#if this.loading}}
          <main class="content no-error">
            <AuLoader />
            <AuContent>
              <h3>Agendapunt aan het laden</h3>
            </AuContent>
          </main>

        {{else}}
          {{! if @model.agendaItems length is equal to 0 }}
          {{#if (eq @model.agendaItems.length 0)}}
            <AuAlert
              class="no-results au-u-medium au-u-margin"
              @skin="warning"
              @icon="three-dots"
            >
              Geen agendapunten gevonden
            </AuAlert>
          {{else}}
            <InfiniteList
              @loadMore={{action "loadMore"}}
              @isLoading={{this.isLoadingMore}}
            >
              {{#each @model.agendaItems as |item|}}
                <DecisionCard
                  @startDate={{item.session.startedAt}}
                  @endDate={{item.session.endedAt}}
                  @item={{item}}
                />
              {{/each}}
            </InfiniteList>
          {{/if}}
        {{/if}}
      {{/if}}

    </div>
  </section>
</div>
