{{page-title "Lokaal Beslist"}}
<AuApp>
  <AppHeader />
  <AuMainContainer as |m|>
    <m.content @scroll={{true}}>
      {{#if @model.isMaintenanceMode}}
        <AuContent @skin="large">
          <AuHeading @level="1" @skin="2">Onderhoudsmodus</AuHeading>
          <p>{{@model.message}}</p>
        </AuContent>
      {{else}}
        {{outlet}}
      {{/if}}
    </m.content>
  </AuMainContainer>
  <Footer />
</AuApp>
