{{page-title this.model.agendaItem.title}}
<main style="display: flex; height: 100%; overflow-y: scroll;">

  <section
    style="height: 100%; display: flex; width: 70%;"
    id="detail-left-section"
    class="au-u-flex au-u-flex--column"
  >
    <AuCard
      @shadow={{true}}
      style="border-top:solid 5px #FFE615; display: flex; height: fit-content;"
      class="au-c-card au-u-margin-left-large au-u-margin-right-large au-u-padding"
      as |c|
    >
      <c.header>

        <AuLink
          @route="detail"
          class="au-u-h3 au-u-medium"
          style=" text-decoration: none; "
        >
          {{#if this.model.agendaItem.title}}
            {{this.model.agendaItem.title}}
          {{/if}}

        </AuLink>

      </c.header>
      <c.content style="height: fit-content; min-height: 80rem;">

        {{#if this.model.agendaItem.session.approvedDate}}
          <section
            class="au-u-flex au-u-muted au-u-margin-top-tiny"
            style=" align-items: center;"
          >
            <AuIcon
              class="au-u-margin-right-small"
              @size="large"
              @icon="check"
            />
            <p>
              Goedgekeurd -
              {{iso-formatter this.model.agendaItem.session.approvedDate}}

            </p>
          </section>
        {{/if}}

        {{#if this.model.agendaItem.session.municipality}}
          <section
            class="au-u-flex au-u-muted au-u-margin-top-tiny"
            style=" align-items: center;"
          >
            <AuIcon
              class="au-u-margin-right-small"
              @size="large"
              @icon="check"
            />
            <p>{{this.model.agendaItem.title_agenda.value}}
              -
              {{#if this.model.agendaItem.session.geplandeStart.value}}
                {{iso-formatter this.model.agendaItem.geplandeStart.value}}
              {{else}}
                Geen Datum
              {{/if}}</p>
          </section>
          <section
            class="au-u-flex au-u-muted au-u-margin-top-tiny"
            style=" align-items: center;"
          >
            <AuIcon
              class="au-u-margin-right-small"
              @size="large"
              @icon="message"
            />
            <AuLink
              @route="municipality"
              @model={{this.model.agendaItem.session.municipality}}
            >
              <p>Gemeente
                {{#if this.model.agendaItem.session.municipality}}
                  {{this.model.agendaItem.session.municipality}}
                {{else}}
                  Geen Gemeente
                {{/if}}</p>
            </AuLink>
          </section>
        {{/if}}
        {{#if this.model.agendaItem.alternateLink}}
          <section
            class="au-u-flex au-u-muted au-u-margin-top-tiny"
            style=" align-items: center;"
          >
            <AuIcon
              class="au-u-margin-right-small"
              @size="large"
              @icon="calendar"
            />
            <p>
              <AuLinkExternal href="{{this.model.agendaItem.alternateLink}}">
                Bekijk agendapunt op de website van de gemeente
              </AuLinkExternal>
            </p>
          </section>
        {{/if}}

        <section>
          <p>
            {{#if this.model.agendaItem.description}}
              {{this.model.agendaItem.description}}
            {{else}}
              We hebben geen beschrijving ontvangen voor dit agendapunt.
            {{/if}}
          </p>
        </section>
        <section>
          {{#each this.model.agendaItem.handledBy.hasVotes as |vote|}}
            <VoteOverview
              @numberOfAbstentions={{vote.numberOfAbstentions}}
              @numberOfOpponents={{vote.numberOfOpponents}}
              @numberOfProponents={{vote.numberOfProponents}}
            />
            <div class="au-o-grid au-u-margin">
              <div
                class="au-u-1-3 au-u-flex au-u-flex--column au-u-flex--spaced-tiny"
              >
                <h2>Voorstander</h2>
                {{#each vote.hasProponents as |mandatary|}}
                  {{#if mandatary.alias}}
                    <span class="au-u-flex au-u-flex--column">
                      <p class="au-u-bold">
                        {{mandatary.alias.familyName}}
                        {{mandatary.alias.firstNameUsed}}
                      </p>
                      <p class="au-u-para">
                        {{mandatary.hasMembership.innerGroup.name}}
                      </p>
                    </span>
                  {{/if}}
                {{/each}}
              </div>
              <div
                class="au-u-1-3 au-u-flex au-u-flex--column au-u-flex--spaced-tiny"
              >
                <h2>Tegenstander</h2>
                {{#each vote.hasOpponents as |mandatary|}}
                  {{#if mandatary.alias}}
                    <span class="au-u-flex au-u-flex--column">
                      <p class="au-u-bold">
                        {{mandatary.alias.familyName}}
                        {{mandatary.alias.firstNameUsed}}
                      </p>
                      <p class="au-u-para">
                        {{mandatary.hasMembership.innerGroup.name}}
                      </p>
                    </span>

                  {{/if}}
                {{/each}}
              </div>
              <div
                class="au-u-1-3 au-u-flex au-u-flex--column au-u-flex--spaced-tiny"
              >
                <h2>Onthouder</h2>
                {{#each vote.hasAbstainers as |mandatary|}}
                  {{#if mandatary.alias}}
                    <span class="au-u-flex au-u-flex--column">
                      <p class="au-u-bold">
                        {{mandatary.alias.familyName}}
                        {{mandatary.alias.firstNameUsed}}
                      </p>
                      <p class="au-u-para">
                        {{mandatary.hasMembership.innerGroup.name}}
                      </p>
                    </span>
                  {{/if}}
                {{/each}}
              </div>
            </div>
          {{/each}}
        </section>
      </c.content>
    </AuCard>
    {{#if this.model.agendaItemOnSameSession}}
      <AuCard
        @shadow={{true}}
        style="height: fit-content; display: flex;"
        class="au-c-card au-u-margin-large"
        as |c|
      >
        <c.header>
          <h2 class="au-u-h3">
            {{#if this.model.agendaItem.session.startedAt}}
              Volledige agenda van
              {{iso-formatter this.model.agendaItem.session.startedAt}}
            {{/if}}
          </h2>
        </c.header>
        <c.content class="au-u-flex au-u-flex--column">

          {{#if this.model.agendaItemOnSameSession}}
            {{#each this.model.agendaItemOnSameSession as |agendaItem|}}
              {{! if the agendaItem.id is equal to the current agendaItem then display "Huidige agendapunt" }}
              {{#if (eq agendaItem.id this.model.agendaItem.id)}}
                <p class="au-u-medium">Huidige agendapunt</p>
              {{else}}
                <AuLink @route="detail" @model={{agendaItem.id}}>
                  {{agendaItem.title}}
                </AuLink>
              {{/if}}

            {{/each}}
          {{/if}}
        </c.content>

      </AuCard>
    {{/if}}
  </section>
  <section
    id="detail-right-section"
    style="height:100; width: 30%; position: relative;"
  >
    {{#if this.model.agendaItem.handledBy.resolutions}}
      <AuAlert
        class="au-u-medium"
        style=" position: sticky; top: 0;"
        @skin="success"
        @icon="sign"
      >
        Dit is beslist
      </AuAlert>
    {{else}}
      <AuAlert
        class="au-u-medium"
        style=" position: sticky; top: 0;"
        @skin="warning"
        @icon="three-dots"
      >
        Dit is nog niet beslist
      </AuAlert>
    {{/if}}
  </section>

</main>
