{{page-title this.model.id}}

<div class="au-u-flex detail-container" style="height: 100%; width: 100%;">
  <section
    style="height: 100%; width: 100%;"
    id="detail-left-section"
    class="au-u-flex au-u-flex--column"
  >

    <AuToolbar @size="medium" class="au-u-margin-small" as |Group|>

      <Group>
        <ul class="au-c-list-horizontal au-c-list-horizontal--small">
          <li class="au-c-list-horizontal__item">
            <AuLink @route="home" @icon="arrow-left">
              Agendapunten
            </AuLink>
          </li>
          <li class="au-c-list-horizontal__item">
            {{this.model.id}}
          </li>
        </ul>
      </Group>
    </AuToolbar>

    <AuCard
      @shadow={{true}}
      @size="small"
      style="border-top:solid 5px #FFE615;"
      class="au-o-region-small au-u-margin-large au-u-margin-top-small au-u-padding"
      as |c|
    >
      <c.header>

        <AuLink
          @route="detail"
          class="au-u-h3 au-u-medium"
          style=" text-decoration: none; "
        >
          {{#if this.model.title}}
            {{this.model.title}}
          {{/if}}

        </AuLink>

      </c.header>
      <c.content>
        
        {{#if this.model.session.approvedDate}}
          <section
            class="au-u-flex au-u-muted au-u-margin-top-tiny"
            style=" align-items: center;"
          >
            <AuIcon class="au-u-margin-right-small" @size="large" @icon="check" />
            <p>
                Goedgekeurd - {{iso-formatter this.model.session.approvedDate}}
              
            </p>
          </section>
        {{/if}}
        

        {{#if this.model.municipality}}
        <section
          class="au-u-flex au-u-muted au-u-margin-top-tiny"
          style=" align-items: center;"
        >
          <AuIcon class="au-u-margin-right-small" @size="large" @icon="check" />
          <p>{{this.model.title_agenda.value}}
            -
            {{#if this.model.geplandeStart.value}}
              {{iso-formatter this.model.geplandeStart.value}}
            {{else}}
              NO DATE
            {{/if}}</p>
        </section>
        <section
          class="au-u-flex au-u-muted au-u-margin-top-tiny"
          style=" align-items: center;"
        >
          <AuIcon
            class="au-u-margin-right-small"
            @size="large"
            @icon="message"
          />
          <LinkTo
            @route="municipality"
            @model={{this.model.eenheid_werkingsgebied_label.value}}
          >
            <p>Gemeente
              {{#if this.model.eenheid_werkingsgebied_label.value}}
                {{this.model.eenheid_werkingsgebied_label.value}}
              {{else}}
                NO MUNICIPALITY
              {{/if}}</p>
          </LinkTo>
        </section>
        {{/if}}
        {{#if this.model.alternateLink}}
        <section
          class="au-u-flex au-u-muted au-u-margin-top-tiny"
          style=" align-items: center;"
        >
          <AuIcon
            class="au-u-margin-right-small"
            @size="large"
            @icon="calendar"
          />
          <p>
              <a href="{{this.model.alternateLink}}">Bekijk
                agendapunt op de website van de gemeente</a>
          </p>
        </section>
        {{/if}}

        <section>
          <p>
            {{#if this.model.description}}
              {{this.model.description}}
            {{else}}
              We hebben geen beschrijving gekregen van het bestuursorgaan. Vraag uw gemeente om te integreren met ons platform,
              of bekijk de info op hun website <a href="{{this.model.alternateLink}}">hier</a>!
            {{/if}}
          </p>
        </section>
        <section>
          <VoteOverview />
        </section>
      </c.content>
    </AuCard>
  </section>
  <section
    id="detail-right-section"
    class="au-u-background-gray-100"
    style="height: 100%; width: 100%;"
  >
    <AuCard
      @flex={{true}}
      @shadow={{true}}
      @size="small"
      style="border-left:solid 5px #FFE615; height: 35rem;"
      class="au-o-region-small au-u-margin-large au-u-margin-top-huge au-u-padding"
      as |c|
    >
      <c.header @badgeIcon={{"user-check"}} @badgeSkin="none">

        <h1 class="au-u-h4 au-u-medium">
          Meer info
        </h1>

      </c.header>
      <c.content>
        <AuContent>
          <div
            class="au-u-flex au-u-flex--column au-o-flow--small au-u-margin-left-large au-u-margin-top-small"
          >
            <section class="au-u-flex au-u-flex--column au-u-muted">
              <h5>Website</h5>
              <AuLinkExternal
                href={{"http://www.zorg-en-gezondheid.be"}}
                @icon="external-link"
                @iconAlignment="right"
              >
                http://www.zorg-en-gezondheid.be
              </AuLinkExternal>
            </section>
          </div>

        </AuContent>
      </c.content>
    </AuCard>
  </section>
</div>
