{{page-title this.model.agendaItem.title}}
<main id="route-detail" class="overflow-y-scroll au-u-flex au-u-margin-bottom-large">

  <article
    id="detail-left-section"
    class="au-u-flex au-u-flex--column au-u-4-6"
  >
    <AuCard
      @shadow={{true}}
      class="color-top-border au-u-flex au-c-card au-u-margin-left-large au-u-margin-right-large au-u-padding"
      as |c|
    >
      <c.header>

        <AuLink
          @route="detail"
          class="no-text-decoration au-u-h3 au-u-medium"
        >
          {{#if this.model.agendaItem.title}}
            {{this.model.agendaItem.title}}
          {{/if}}

        </AuLink>

      </c.header>
      <c.content class="content" style="min-height: 80rem;">

        <section
          class="au-u-flex au-u-muted au-u-margin-top-tiny au-u-u-flex--vertical-center"
        >
          <AuIcon class="au-u-margin-right-small" @size="large" @icon="check" />
          <p>
            {{#if this.model.agendaItem.session.dateRange}}
              {{ this.model.agendaItem.session.dateRange}}
            {{else}}
              Geen Datum
            {{/if}}</p>
        </section>
        <section
          class="au-u-flex au-u-muted au-u-margin-top-tiny au-u-u-flex--vertical-center"
        >

          <AuIcon
            class="au-u-margin-right-small"
            @size="large"
            @icon="message"
          />
          {{#if this.model.agendaItem.session.hasMunicipality}}
            <AuLink
              @route="municipality"
              @model={{this.model.agendaItem.session.municipality}}
            >
              <p>Gemeente
                {{#if this.model.agendaItem.session.municipality}}
                  {{this.model.agendaItem.session.municipality}}
                {{else}}
                  Geen Gemeente
                {{/if}}</p>
            </AuLink>
          {{/if}}
        </section>
        {{#if this.model.agendaItem.alternateLink}}
          <section
            class="au-u-flex au-u-muted au-u-margin-top-tiny au-u-u-flex--vertical-center"
          >
            <AuIcon
              class="au-u-margin-right-small"
              @size="large"
              @icon="calendar"
            />
            <p>
              <AuLinkExternal href="{{this.model.agendaItem.alternateLink}}">
                Bekijk agendapunt op de website van de gemeente
              </AuLinkExternal>
            </p>
          </section>
        {{/if}}

        <section>
          <p>
            {{#if this.model.agendaItem.description}}
              {{this.model.agendaItem.description}}
            {{else}}
              We hebben geen beschrijving ontvangen voor dit agendapunt.
            {{/if}}
          </p>
        </section>
        <section class="au-u-flex au-u-u-flex--vertical-center">
          <AuBadge @icon="archive" @skin="brand" />
          <AuAccordion
            class="accordion au-u-1-1 au-u-margin-top-small"
            @reverse={{true}}
            @iconOpen={{"nav-down"}}
            @iconClosed={{"nav-right"}}
            @buttonLabel={{"Verslag"}}
          >
            <AuAlert
              @skin="warning"
              @title="Geen verslag"
              class="au-u-margin-top au-u-margin-bottom"
            >
              <p>Dit agendapunt heeft geen verslag.</p>
            </AuAlert>
          </AuAccordion>
        </section>

        {{#if this.hasVotes}}
          <section class="au-u-flex au-u-1-1">
            <AuBadge @icon="message" @skin="brand" />
            <AuAccordion
              class="au-u-1-1 au-u-margin-top-small"
              @reverse={{true}}
              @iconOpen={{"nav-down"}}
              @iconClosed={{"nav-right"}}
              @buttonLabel={{"Stemming"}}
            >
              {{#each this.model.agendaItem.handledBy.hasVotes as |vote|}}

                <VoteOverview
                  @numberOfAbstentions={{vote.numberOfAbstentions}}
                  @numberOfOpponents={{vote.numberOfOpponents}}
                  @numberOfProponents={{vote.numberOfProponents}}
                />

              {{/each}}

              <AuAccordion
                class="au-u-1-1"
                @reverse={{true}}
                @iconOpen={{"nav-down"}}
                @iconClosed={{"nav-right"}}
                @buttonLabel={{"Wie stemde?"}}
                @subtitle="Meer informatie over stemmers en hun partijen"
              >
                <AuTable>
                  <:header>
                    <tr>
                      <th class="au-u-success au-u-bold">Voortstanders</th>
                      <th class="au-u-error au-u-bold">Tegenstanders</th>
                      <th class="au-u-bold">Onthouders</th>
                    </tr>
                  </:header>
                  <:body>
                    {{#each this.model.formattedTableVote as |mandatary|}}
                      <tr>

                        <td><VoteTableEntry
                            @familyName={{mandatary.proponent.alias.familyName}}
                            @firstName={{mandatary.proponent.alias.firstNameUsed}}
                            @fraction={{mandatary.proponent.hasMembership.innerGroup.name}}
                          /></td>
                        <td>
                          <VoteTableEntry
                            @familyName={{mandatary.opponent.alias.familyName}}
                            @firstName={{mandatary.opponent.alias.firstNameUsed}}
                            @fraction={{mandatary.opponent.hasMembership.innerGroup.name}}
                          />
                        </td>
                        <td>
                          <VoteTableEntry
                            @familyName={{mandatary.abstainer.alias.familyName}}
                            @firstName={{mandatary.abstainer.alias.firstNameUsed}}
                            @fraction={{mandatary.abstainer.hasMembership.innerGroup.name}}
                          />
                        </td>
                      </tr>
                    {{/each}}
                  </:body>
                </AuTable>
              </AuAccordion>
            </AuAccordion>
          </section>
        {{/if}}
      </c.content>
    </AuCard>
    {{#if this.model.agendaItemOnSameSession}}
      <AuCard
        @shadow={{true}}
        class="au-c-card au-u-margin-large au-u-flex"
        as |c|
      >
      {{#if this.model.agendaItem.session.dateRange}}
        <c.header>
          <h2 class="au-u-h3">
              Volledige agenda van {{this.model.agendaItem.session.dateRange}}
          </h2>
        </c.header>
      {{/if}}
        <c.content class="au-u-flex au-u-flex--column">

          {{#if this.model.agendaItemOnSameSession}}
            {{#each this.model.agendaItemOnSameSession as |agendaItem|}}
              {{! if the agendaItem.id is equal to the current agendaItem then display "Huidige agendapunt" }}
              {{#if (eq agendaItem.id this.model.agendaItem.id)}}
                <p class="au-u-medium">Huidige agendapunt</p>
              {{else}}
                <AuLink @route="detail" @model={{agendaItem.id}}>
                  {{agendaItem.title}}
                </AuLink>
              {{/if}}

            {{/each}}
          {{/if}}
        </c.content>

      </AuCard>
    {{/if}}
  </article>
  <aside class="au-u-2-6 au-u-padding-right-large">
    <div class="top-sticky">

      {{#if this.model.agendaItem.handledBy.resolutions}}
        <AuAlert class="au-u-medium" @skin="success" @icon="sign">
          Dit is beslist
        </AuAlert>
      {{else}}
        <AuAlert class="au-u-medium" @skin="warning" @icon="three-dots">
          Dit is nog niet beslist
        </AuAlert>
      {{/if}}
      {{#if this.model.agendaItem.session.hasMunicipality}}
        <AuContent class="au-u-margin-top">
          <h4>{{#if this.keywordStore.keyword}}Meer relevante info over
            {{else}}
              Meer agendapunten
            {{/if}}
            <AuLink>{{this.keywordStore.keyword}}</AuLink>
            in
            <AuLink>{{this.model.agendaItem.session.municipality}}</AuLink></h4>
          <ol type="1">
            {{#each this.model.similiarAgendaItems as |agendaItem|}}
              <li class="au-u-margin-top-small au-u-medium">
                <AuLink
                  class="au-u-regular"
                  @model={{agendaItem.id}}
                  @route="detail"
                >
                  {{agendaItem.title}}
                </AuLink></li>
            {{/each}}
          </ol>
        </AuContent>
      {{/if}}
    </div>
  </aside>

</main>
