<AuContentHeader
  @titlePartOne="We geven je alle beslissingen"
  @titlePartTwo="uit JOUW gemeente"
>
  {{!-- <img
    sizes="50vw"
    src={{"/assets/loket-header-1600.jpg"}}
    alt="Foto van een laptop met daarop het vlaanderen logo."
  /> --}}
</AuContentHeader>
<AuBodyContainer id="home">

  <AuFormRow class="au-u-2-5">
    <AuLabel
      for={{"municipality"}}
      class="au-u-h4 au-u-margin-bottom-small"
      @inline={{true}}
    >
      In welke gemeente(s) wil je zoeken?
    </AuLabel>
    <section class="au-u-flex" id="municipality-section">
      <PowerSelect
        id="municipality"
        @onChange={{this.handleMunicipalityChange}}
        @selected={{this.selectedMunicipality}}
        @options={{this.municipalities}}
        @allowClear={{true}}
        @searchField="label"
        @placeholder={{"Alle gemeentes"}}
        @noMatchesMessage={{"Geen gemeente gevonden"}}
        @searchMessage="Aan het zoeken..."
        @searchEnabled={{true}}
        class="au-u-margin-right-small"
        as |singleSelect|
      >
        {{singleSelect.label}}
      </PowerSelect>
      <AuButton
        id="save-locations"
        @loading={{this.loading}}
        {{action "handleMunicipalitySelect"}}
        @width="block"
      >Locatie(s) Opslaan</AuButton>
    </section>
  </AuFormRow>
</AuBodyContainer>

<Footer />
