<ContentHeader />

<div class="au-u-flex" style="height: 100%;">

  <SearchSidebar
    @municipalityPlaceholder="Selecteer een optie"
    @municipalitySelected={{this.selected}}
    @municipalityOnChange={{this.handleMunicipalityChange}}
    @municipalityOptions={{@model}}
    @municipalityAllowClear={{true}}
    @keywordPlaceholder={{"Terrasvergunning"}}
    @keywordOnChange={{this.handleKeywordChange}}
    @dateHandleChange={{this.handleDateChange}}
    @startDate={{this.startDate}}
    @endDate={{this.endDate}}
  />

  <section
    class="au-u-flex au-u-flex--column"
    style="width: 100%; height: 100%;"
  >
    <AuFormRow
      @alignment="inline"
      class="au-u-margin-bottom au-u-margin-top au-u-padding-right-large au-u-padding-left-large"
    >
      <section class="au-u-flex" style="align-items: center;">
        <AuLabel class="au-u-padding-right">Weergave</AuLabel>
        <AuLink @skin="button" @route="home.map">
          Kaart</AuLink>
        <AuLink @route="home.list" @skin="button-secondary">Lijst</AuLink>
      </section>
      <section style="margin-left: auto;" class="au-u-flex">
        <AuLabel for="sort-on" style="width: 80px; white-space: nowrap;">
          Sorteer op
        </AuLabel>
        <select type="select" class="au-c-input" style="width: 200px;">
          <option>Datum</option>
          <option>Relevantie</option>
        </select>
      </section>
    </AuFormRow>
    <div
      class="au-u-padding-left-large au-u-padding-right-large au-u-flex au-u-flex--column"
      style="height: 100%;"
    >
      {{outlet}}
    </div>
  </section>
</div>
