<AuContentHeader
  @titlePartOne="We geven je alle beslissingen"
  @titlePartTwo="uit JOUW gemeente"
>
  {{!-- <img
    sizes="50vw"
    src={{"/assets/loket-header-1600.jpg"}}
    alt="Foto van een laptop met daarop het vlaanderen logo."
  /> --}}
</AuContentHeader>
<AuBodyContainer
  style="display: flex; justify-content: center; align-items: center;"
>

  <AuFormRow style="width: 40%;">
    <AuLabel
      for={{"municipality"}}
      class="au-u-h4 au-u-margin-bottom-small"
      @inline={{true}}
    >
      In welke gemeente(s) wil je zoeken?
    </AuLabel>
    <section class="au-u-flex" style="width: 100%;">
      <PowerSelect
        style="width: 80%;"
        id="municipality"
        @onChange={{this.handleMunicipalityChange}}
        @selected={{this.selectedMunicipality}}
        @options={{@model.municipalities}}
        @allowClear={{true}}
        @searchField="label"
        @placeholder={{"Alle gemeentes"}}
        @noMatchesMessage={{"Geen gemeente gevonden"}}
        @searchMessage="Aan het zoeken..."
        @searchEnabled={{true}}
        class="au-u-margin-right-small"
        as |singleSelect|
      >
        {{singleSelect.label}}
      </PowerSelect>
      <AuButton
        @loading={{this.loading}}
        {{action "handleMunicipalitySelect"}}
        @width="block"
        style="width: 20%; min-width: fit-content;"
      >Locatie(s) Opslaan</AuButton>
    </section>
  </AuFormRow>
</AuBodyContainer>

<Footer />
